{% load url from future %}
    <div class="well sidebar-nav">
        <ul class="nav nav-list">
        	
        	<h3>Login pelo Sistemas USP</h3>
        	<form name="usp-user" method="post" action="/users/request/usp">
            	<input type="hidden" name="next" value="{{ next|default:request.get_full_path }}" />
            	{% csrf_token %}
                <button type="submit" class="btn btn-primary btn-large"> <i class="icon-user"></i> Login USP Digital </button>
			</form>
        	<hr/>
        	{% if no_user %}
        		<p> Usuário não existe! Caso seu email esteja certo, crie uma conta no botão azul abaixo.</p>
    	    {% elif form.errors %}
		    	<p>Usuário ou senha inválidos. Por favor, verifique-os e tente novamente</p>
		    {% endif %}
            <h3>Ou entre com a conta do sistema</h3>
            <form name="login" method="post" action="/users/login/?next={{ next|default:request.get_full_path }}" class="well">
            	{% csrf_token %}
            	<input type="hidden" name="next" value="{{ next|default:request.get_full_path }}" />
                <label for="username">Email</label>
                <input type="text" name="username" class="input-medium" id="username">
                <label for="password">Senha</label>
                <input type="password" name="password" class="input-medium" id="password">
                <br/>
                <button type="submit" class="btn btn-success"><i class="icon-signin"></i> Login</button>
            </form>
            <p><a href="/users/password_reset"> Esqueci a senha! </a></p>
            <p>
            <form name="new-user" method="post" action="/users/new/">
            	<input type="hidden" name="next" value="{{ next|default:request.get_full_path }}" />
            	{% csrf_token %}
                Primeiro acesso? <button type="submit" class="btn"> <i class="icon-plus-sign"></i> Criar uma conta </button>
			</form>
            </p>
        </ul>
    </div>
    <!--/.well -->


