{% load i18n %}{% load url from future %}{% autoescape off %}
{% blocktrans %}Você está recebendo este email pois solicitou para redefinir sua senha no site {{ site_name }}.{% endblocktrans %}

{% trans "Por favor acesse o seguinte link para redefinir sua senha" %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'django.contrib.auth.views.password_reset_confirm' uidb36=uid token=token %}
{% endblock %}
{% trans "Seu usuário (num. USP):" %} {{ user.username }}

{% blocktrans %}Sistema {{ site_name }}{% endblocktrans %}

{% endautoescape %}
