Django>=1.7
MySQL-python
South
anyjson
celery
chardet
BeautifulSoup>=3.2.1
Pillow
django-appconf==0.5
django-auth-ldap
django-celery
django-debug-toolbar
django-endless-pagination
django-form-utils
django-grappelli
django-picklefield
django-simple-captcha
-e git+https://github.com/toastdriven/django-tastypie.git@master#egg=django-tastypie
-e git+https://github.com/toastdriven/django-haystack.git@master#egg=django-haystack
-e git+https://github.com/pinax/django-forms-bootstrap.git#egg=django-forms-bootstrap
sorl-thumbnail
django-tinymce
