/*
 * Forms
 */
p.help-block{

	position: absolute;
	/*width: 30%;*/
	font-size: 80%;
	display: none;
	z-index: 100;
	background-color: #FFF;
	padding: 15px;
	border: #7A7A7A solid 1px;
	margin-left: 5px;
	margin-top: 0;
}
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

/**
 * 	Alert box
 */
#system-msg{
	position: absolute;
	top: 0;
	width: 100%;

	z-index: 99999;
	text-align: center;
}
#system-msg div{
	display: inline-block;
	padding: 5px 10px 0px 10px;
	position: relative;
}
#system-msg div p{
	margin-top: 3px;
	display: inline-block;
}
#system-msg div button{
	margin-left: 10px;
	display: inline-block;
}

.form-horizontal input[type=text], .form-horizontal textarea {
	width: 50%;
}
h1{
	padding: 10px 5px 15px 5px;
	margin-bottom: 20px;
	text-align: center;
	border-bottom: solid 1px #DDD;
}
h2{
	border-bottom: 1px solid #DDD;
	margin-bottom: 10px;
}
label.required-field{
	font-weight: bolder;
}
.subnav{
	background-color: #EEE;
	height: 40px;
}
.subnav select{
	height: 40px;
}
h4{
	margin-bottom: 10px;
	text-align: center;
}
body{
	padding-top: 50px;
}
.editable-popover{
	z-index: 1090;
}

/* select chosen always on top, even on modals */
.chzn-drop{
    z-index:5000;
}
.modal-overflow{
    overflow-y: visible;
}

/* new modal size */
@media (min-width: 1200px) { 
	.modal{
	    width: 960px;
	    max-height: 650px;
	    margin-left: -480px;
    }

}

 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) { 
	.modal{
	    width: 760px;
	    margin-left: -380px;
    }
}
 
/* Landscape phones and down */
@media (max-width: 480px) { 
	.modal{
	    width: 460px;
	    margin-left: -230px;
    }
}

/* full-width label for td */
td.td-label{
	background-color: #999;
	color: #fff;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	font-weight: bolder;
	width: 180px;
	font-size: 11.844px;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
td.td-title{
	background-color: #EEE;
	font-weight: bolder;
	font-size: 15px;
	text-align: center;
}

/* labels for class-id based */
.label-1{
	background-color: #3a87ad;
}
.label-2{
	background-color: #999;
}
.label-3{
	background-color: #7ABA7B;
}
.label-4{
	background-color: #EEDC94;
	color: black;
}
.label-5{
	background-color: #EE5F5B;
}
