{% load bootstrap_tags %}
<form action="{{form.action}}" method="post" class="form-horizontal" {% if form.upload %}enctype="multipart/form-data"{%endif%}>
	{% csrf_token %}
	<div class="span8 offset1">
	{{ form|as_bootstrap }}
	</div>
	
    <div class="form-actions span8 offset1">
    	<div class="span3">
	        {% if form.clearlabel %}
				<input type="button" onclick="resetFields()" value="{{ form.clearlabel}}" />
	        {% endif %}
	        {% if form.backbutton %}
				<a class="btn" href="javascript:history.go(-1);">{{form.backbutton|safe}}</a>
	        {% endif %}
        </div><div class="span3 offset1">
        	<button type="submit" name="action" value="{{ form.submit_action}}" class="btn btn-primary">{{ form.submit_label|safe|default:"Enviar"}}</button>
        {% if delete_url %}
			<a href="{{ delete_url }}" class="btn">Apagar</a>
        {% endif %}
    	</div>
    </div>
</form>
