<div class="topbar navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container-fluid">
            	
            	<div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <i class="fa fa-bars"></i>
                    </button>
                    <a class="navbar-brand" title="DELOS" href="/">
						<img style="width:38px;height:38px;" src="/static/img/logo.png">{% if unidade %}  {{unidade.abbreviation}}{% endif %}</a>
				</div>
				<div class="navbar-collapse collapse">	
					{% if person.get_unities %}
					<ul class="nav navbar-nav"><li class="dropdown">
						<a title="Escolher outra unidade" href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="caret"></i> </a>	
						<ul class="dropdown-menu">
							{% for abbr, name in person.get_unities %}
							<li>
								<a href="{% url 'users_unity_change' abbr=abbr %}">{{name}}</a>
							</li>
							{% endfor %}
						</ul>
					</li></ul>
					{% endif %}			
					<ul class="nav navbar-nav"><!--
						<li class="dropdown">
							<a title="Sistemas" href="#" class="dropdown-toggle" data-toggle="dropdown">{{app.name}}<i class="caret"></i> </a>

							<ul class="dropdown-menu"> -->
								{% for a in apps %}
								<li class="{{a.url}}">
									<a href="/{{a.url}}">{{a.name|safe}}</a>
								</li>
								{% endfor %}
							<!--</ul>
						</li>
						-->
						<li class="divider-vertical"></li>
					</ul>
				
					<ul class="nav navbar-nav">
						{% block submenu %}{% endblock %}
					</ul>
					<ul class="nav pull-right secondary-nav navbar-nav">
						<li class="divider-vertical"></li>
						<li> <a href="/users/contact"><i class="fa fa-envelope"></i> Contato</a> </li>						
						
					{% if person %}
					
						
						<li class="divider-vertical"></li>
						<li>
						</li>
						<li class="dropdown">
							<a title="Opçoes do usuário" href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user fa-white"></i> {% firstof person.name user.first_name user.username %}<i class="caret"></i> </a>
							<ul class="dropdown-menu">
								<li>
									<a id="change-password" href="#user"><i class="fa fa-cog"></i> Alterar senha</a>
								</li>
								<li>
									<a href="/users/contact"><i class="fa fa-flag"></i> Ajuda</a>
								</li>
								<li class="divider"></li>
								<li>
									<a href="/users/logout/">Sair</a>
								</li>
							</ul>
						</li>
						
						
						
					
					{% endif %}
					</ul>
					</div>
				</div>
			</div>
		</div>